*{
    box-sizing: border-box;
}
.none{
    display: none!important;
}

/*general*/
body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    transform: scale(1);
    border-radius: 5px;
    transition: transform 0.1s;
}
button:active{
    transform: scale(0.85);
}
/*top menu*/
.topMenu {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #666;
    height: 50px;
    line-height: 49px;
    text-align: center;
    font-size: 35px;
    position: fixed;
    top: 0;
    left: 0;
    background-color:orange;
    color:white;
    text-shadow: 0px 0px 5px#999;
}
.topMenu > .topMenuRightButton {
    margin : 4px;
}

.topMenu > div {
    width: 100%;
}

.pagesContainer {
    margin-top: 50px;
    padding: 20px;
    min-height: calc(100vh - 50px - 30px);
}

/*.topMenuRightButton {
    position: absolute;
    right: 20px;
    top: 6px;
    height: 35px;
    width: auto;
    font-size: 20px;
}*/

/*QUIZZ*/
.quizzPageContainer {

    text-align: center;

}

.quizzTitle {
    text-align: center;
    font-size: 30px;
}

.quizzTitleManage {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: calc(95%/3);
    height: 80px;
    /*text-align: center;*/
    font-size: 30px;
    margin-top: -90px;
    position: fixed;
    background-color: white;
    border-bottom: 2px solid #807D7D;
}

.quizzTitleManage > div{
    width: 90%;
    text-align: center
}


.quizzQuestionsContainer {
    max-width:900px;
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    margin: 20px;
}

.questionTitle {
    width: 250px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    padding-right: 5px;
}
.questionContainer {

    margin-top: 10px;

}
.questionAnswerContainer{
    display: inline-block;
    width: calc(100% - 300px);
    vertical-align: middle;
}
.questionAnswerContainer > .questionAnswerSingleLine2{
    width: 350px;
}

.questionAnswerContainerSearch{
    display: flex;
    vertical-align: middle;
}
.questionAnswerContainerSearch > i{
    margin-left: 16px;
    margin-top: 4px;
}
.questionAnswerContainerSearch > i:hover{
    cursor: pointer;
    color: blue;
}

.questionAnswer{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}
.questionAnswer.questionAnswerMultiLines {
    max-width: 100%;
    min-width: 100%;
    min-height: 30px;
    max-height: 300px;
    height: 60px;
}

i:hover{
    cursor: pointer;
}

/*TableQuizz*/

.quizzQuestionsContainer > table{
   margin: auto;
   border-collapse: collapse;
   width: 100%;
   margin-top: 5%;
}

.titreQuizz{
   font-family: Arial, sans-serif; 
   font-size: 20px;
}

.titreQuizz > .questionAnswerContainer{
    width: 40%;
}

td {
   padding: 25px;
   text-align: left;
   border-bottom: 1px solid #ddd;
 }

  .dateQuizz {
    
    float:right;
}

input{
    display: inline-block;
    width: calc(100% - 920px);
    vertical-align: middle;
}

.DescriptionQuizz{
    font-style: italic;
}



/* Manage */
.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 50px;
    
}

.flex-container > .etape {
    justify-content: space-between;
    margin: 10px;
    display: flex;
    width: calc(100%/3);
    border:1px dotted black;
}

.flex-container > .etape >  .question > .icone{
    justify-content: right;
}

.flex-container > .etape > .question > .icone > i{
    margin: 5px;
}

/*footer*/
.footer {
    width: 100%;
    text-align: center;
    border-top: 1px solid #ccc;
    background-color: #eee;
    height: 30px;
    line-height: 29px;
}