.linkQuizz>div{
    background-color: white;
    cursor: pointer;
}
.linkQuizz:nth-child(2n)>div{
    background-color: whitesmoke;
}
.linkQuizz:hover>div{
    background-color: lightgray;
}
.refreshButton > .imgRefresh {
    height: 20px;
    width: 20px;
    background-size: cover;
}