.quizzStat{
    overflow-x: auto;
}
.rowSubmission, .headCol{
    height: 40px;
    display: flex;
    border-bottom: solid 1px lightgray;
}
.headCol{
    font-weight: bolder;
}
.questionCol{
    display: flex;
}
.colD{
	font-weight: bolder;
    min-width: 200px;
}
.colQ{
    min-width: 50px; 
}
.colQ, .colD, .answerSubmission{
    display: flex;
    align-items: center;
    justify-content: center;
}
.answerSubmission{
    font-weight: bolder;
    min-width: 200px;
    overflow-wrap: break-word;
}
.answerContainer{
    display: flex;
    padding: 10px 5px;
    overflow-wrap: break-word;
}
.answerContainer:nth-child(2n-1){
    background-color: whitesmoke;
}
.colQ:nth-child(2n){
    background-color: whitesmoke;
}
.questionCol > .colQ:nth-child(2n-1){
    background-color: whitesmoke;
}
.questionCol > .colQ:nth-child(2n){
    background-color: white;
}
.check, .check-double, .times{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 20px;
}
.check{
    background-image: url(/images/check.svg);
}
.check-double{
    background-image: url(/images/check_double.svg);
}
.times{
    background-image: url(/images/times.svg);
}