*{
    box-sizing: border-box;
}
.none{
    display: none!important;
}

/*general*/
body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    transform: scale(1);
    border-radius: 5px;
    transition: transform 0.1s;
}
button:active{
    transform: scale(0.85);
}
/*top menu*/
.topMenu {
    width: 100%;
    border-bottom: 1px solid #666;
    height: 50px;
    line-height: 49px;
    text-align: center;
    font-size: 35px;
    position: fixed;
    top: 0;
    left: 0;
    background-color:orange;
    color:white;
    text-shadow: 0px 0px 5px#999;
}
.pagesContainer {
    margin-top: 50px;
    padding: 20px;
    min-height: calc(100vh - 50px - 30px);
}
.topMenuRightButton {
    position: absolute;
    right: 20px;
    top: 6px;
    height: 35px;
    width: auto;
    font-size: 20px;
}

/*QUIZZ*/
.quizzPageContainer {

    text-align: center;

}
.quizzTitle {
    text-align: center;
    font-size: 30px;
}
.quizzQuestionsContainer {
    max-width: 900px;
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}
.questionTitle {
    width: 300px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    padding-right: 5px;
}
.questionContainer {

    margin-top: 10px;

}
.questionAnswerContainer {
    display: inline-block;
    width: calc(100% - 300px);
    vertical-align: middle;
}
.questionAnswer{

    width: 100%;
    padding: 5px;
    border-radius: 5px;

}
.questionAnswer.questionAnswerMultiLines {
    max-width: 100%;
    min-width: 100%;
    min-height: 30px;
    max-height: 300px;
    height: 60px;
}

/*TableQuizz*/

table{
   margin: auto;
   border-collapse: collapse;
   width: 100%;
   margin-top: 5%;
}

.titreQuizz{
   font-family: Arial, sans-serif; 
   font-size: 20px;
}

td {
   padding: 25px;
   text-align: left;
   border-bottom: 1px solid #ddd;
 }

  .dateQuizz {
    
    float:right;
}

input{
    display: inline-block;
    width: calc(100% - 920px);
    vertical-align: middle;
}

.DescriptionQuizz{
    font-style: italic;
}

/*footer*/
.footer {
    width: 100%;
    text-align: center;
    border-top: 1px solid #ccc;
    background-color: #eee;
    height: 30px;
    line-height: 29px;
}