/*general*/
body{
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif
}

*{
    box-sizing: border-box;
}

.none{
    display: none!important;
}

/*basic interface*/
.pagesContainer{
    
}

/*loader*/
.globalLoaderContainer {
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    z-index: 30;
    transition: opacity 0.5s;
    opacity: 0;
}
.globalLoaderImage {
    height: 50px;
    width: 50px;
    background-image: url(/images/loader.svg);
    background-size: cover;
    position: absolute;
    top: calc(50vh - 25px);
    left: calc(50vw - 25px);
}
/*info box*/
.infoMessageBox {
    position: fixed;
    display: inline-block;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    transition: opacity 0.5s;
    opacity: 0;
    z-index: 20;
}