input{
    display: inline-block;
    width: calc(100% - 920px);
    vertical-align: middle;
}
.largeInputMultiline{
    max-width: 100%;
    min-width: 100%;
    min-height: 30px;
    max-height: 300px;
    height: 60px;
}
.largeInput, .largeInputMultiline{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}
button, .button{
    transform: scale(1);
    border-radius: 5px;
    transition: transform 0.1s;
    background-color: white;
    color: black;
    border: 2px solid black;
    margin: 4px;
    padding: 5px;
    cursor: pointer;
}
button:active, .button:active{
    transform: scale(0.85);
}
button:hover, .button:hover{
    background-color: lightsalmon;
}
i:hover{
    cursor: pointer;
    background-color: orange;
}
a{
    text-decoration: none;
    color: black;
}
.errorField{
    border: solid 1px red;
}