.quizzTitleManage{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: calc(95%/3);
    height: 80px;
    /*text-align: center;*/
    font-size: 30px;
    margin-top: -90px;
    position: fixed;
    background-color: white;
    border-bottom: 2px solid #807D7D;
}
.quizzTitleManage > div{
    width: 90%;
    text-align: center
}