/*container*/
.pagesContainer {
    width: 100%;
    margin-top: 60px;
    min-height: calc(100vh - 60px - 30px);
    display: inline-block;
    overflow: hidden;
    text-align: center;
}
.pageContainer {
    width: 80%;
    display: inline-block;
}
/* Manage */
.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 52px;
    
}
.flex-container > .etape {
    justify-content: space-between;
    margin: 10px;
    display: flex;
    width: calc(100%/3);
    border:1px dotted black;
}
.flex-container > .etape >  .question > .icone{
    justify-content: right;
}
.flex-container > .etape > .question > .icone > i{
    margin: 5px;
}