/*container*/
.pagesContainer{
    width:80%;
}
/* Manage */
.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 52px;
    
}
.flex-container > .etape {
    justify-content: space-between;
    margin: 10px;
    display: flex;
    width: calc(100%/3);
    border:1px dotted black;
}
.flex-container > .etape >  .question > .icone{
    justify-content: right;
}
.flex-container > .etape > .question > .icone > i{
    margin: 5px;
}